<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5 px-sm-0'>
    <div class='row mt-1'>
      <div class='col-md-3 mt-3'>
        <div class= 'sidebar_fixed'>
         <%= render 'users/user-info',user: @post_review.user %>
        </div>
      </div>
      <div class='col-md-8 offset-md-1 mt-3'>
        <div class='col-md-12 border-bottom pb-4 border-primary'>
          <div class='row'>
            <div class="col-md-9"><h2 class="text-left"><%= @post_review.game.game_title %></h2></div>
          </div>
          <div class="row">
            <div class="col-md-12"><div class="text-right">Updated: <%= @post_review.game.updated_at.strftime('%Y/%m/%d') %></div></div>
          </div>
          <div class='row mt-1'>
            <div class="col-md-3"><%= attachment_image_tag @post_review.game, :game_image, size: "100x100", format: 'jpg', fallback: "default-image.jpg", size:'150x150'%></div>
            <div class="col-md-9 text-break"><%= @post_review.game.about %></div>
          </div>
        </div>
        <div class='col-md-12'>
          <div class="row mt-4">
            <div class="col-md-8">
              <h2><%= @post_review.review_title %></h2>
            </div>
            <div class="col-md-4">
              <% if @post_review.user.id == current_user.id %>
                <%= link_to edit_game_post_review_path(@post_review.game_id, @post_review.id), class:"btn btn-outline-secondary btn-block" do %>
                  <i class="fas fa-user-cog"></i>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><div class="text-right">Updated: <%= @post_review.updated_at.strftime('%Y/%m/%d') %></div></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= @post_review.opinion %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= attachment_image_tag @post_review, :review_image, size: "100x100", format: 'jpg'%>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-12">
              <div class="text-right">
                <% if @post_review.favorited_by?(current_user) %>
                  <p>
                    <%= link_to game_post_review_favorites_path(@post_review.game, @post_review), method: :delete do %>
                      ♥<%= @post_review.favorites.count %> いいね 
                    <% end %>
                  </p>
                  <% else %>
                  <p>
                    <%= link_to game_post_review_favorites_path(@post_review.game, @post_review), method: :post do %>
                      ♡<%= @post_review.favorites.count %> いいね 
                    <% end %>
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>