<div class="container">
  <div class="row mt-1">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <% if @model == "user" %>
      <h2>Users search for '<%= @content %>'</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <% @records.each do |user| %>
        <tbody>
          <tr>
            <th>
              <%= link_to user_path(user.id) do%>
              <%= attachment_image_tag user, :profile_image, size: "100x100", format: 'jpg', fallback: "default-image.jpg", size:'55x55' %>
              <%= user.name %>
              <% end %>
            </th>
          </tr>
        </tbody>
        <% end %>
        <% elsif @model == "game" %>
        <h2>Games search for '<%= @content %>'</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
            </tr>
          </thead>
          <% @records.each do |game| %>
          <tbody>
            <tr>
              <th>
                <%= link_to game_path(game.id) do%>
                  <%= attachment_image_tag game, :game_image, size: "100x100", format: 'jpg', fallback: "default-image.jpg", size:'55x55' %>
                  <%= game.game_title %>
                <% end %>
              </th>
            </tr>
          </tbody>
          <% end %>
        <% end %>
      </table>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>